<%-include("partials/header")-%>

<h1>Hello</h1>
<p><%=para1%></p>

<%blog.forEach(function(bl){%>
  <h1><%=bl.title%></h1>
  <p>
    <%=bl.cont.substring(0,100)+" ..."%>
    <a href="/posts/<%=bl.title%>">Read More</a>
    </p>


<%});%>



</blog.length;i++)>
</blog.length;i++)>
<%-include("partials/footer")-%>
